@import  "http://fonts.googleapis.com/css?family=Roboto:300";



/* General
    -------------------------------------------------- */
html,
body {
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}


p {
    font-size: 2.5vw;
}


h1 {
    font-size: 3.5vw;
    text-align: center;
    color: #916332;
    text-transform: uppercase;
    padding: 3em 0 0.5em 0;

}


.hr-line {
    background-color: #916332;
    width: 7%;
    height: 2px;
    margin: 0 auto 4em auto;

}


.divider {
    margin: 4em 0 0 0;
    border-top: 2px solid #eee;
}


/* Navbar
    -------------------------------------------------- */
#hidden-bar {
    width: 100%;
    position: fixed;
    display: none;
    top: 0;
    z-index: 100;
}

.navbar {
    background: #000;
}

.navbar li {
    padding: 1em 0;
}

.navbar-default .navbar-nav li a {
    color: #fff;
    font-size: 1.2em;

}

.navbar-default .navbar-nav li:hover {
    background: #ff8c00;
}

.navbar .navbar-collapse {
    text-align: center;
}

/* Banner
    -------------------------------------------------- */


header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../img/buddha.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}


#intro {
  
    color: #fff;
    margin: 8% 0 0 50%;

}

blockquote {

    border: 0;
    font-family: Georgia, serif;
    font-size: 3vw;
    font-style: italic;
    line-height: 1.45;
    position: relative;
    color: #383838;
    margin:0 10px;
}

blockquote:before {

    content: "\201C";
    font-size: 8vw;
    position: absolute;
    top: -3vw;
    left: -3vw;
    color: #7a7a7a;
}

blockquote cite {
    color: #999;
    font-size: 3vw;
    display: block;
    margin: 5px 0 0;

}

blockquote cite:before {
    content: "\2014 \2009";
}

#intro h2 {
    font-size: 3vw;
    font-family: Georgia, serif;
    line-height: 1.45;
    color: #7a7a7a;
    padding: 0 0 0 20px;
    margin: 40px 0 0 0;

}

#intro .btn {

    font-size: 2vw;
    margin: 20px 0 0 20px;
}

.btn-default {
    background: #916332;
    border-color: #916332;
}

/* About Me
    -------------------------------------------------- */

#about p {
    text-align: justify;
}

.hideme{
     opacity:0;
}
.visible{
     opacity:1;
}


/* Three Projects
    -------------------------------------------------- */


#projects img {
    max-width: 100%;
}

.row.no-gutters {
    margin: 0;
}

.row.no-gutters > [class^="col-"],.row.no-gutters > [class*=" col-"] {
    padding: 0;
}

.mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,140,0,0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    text-align: center;
}

.mask p {
    padding: 2em 0 0;
}

.grid-image:hover .mask {
    visibility: visible;
    opacity: 1;
}

/* Skills
    -------------------------------------------------- */

.skills {
    display: block;
    margin: 0 auto;
    height: 130px;
    width: 130px;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url(../img/sprites.png);

}

#skills h4 {

    text-align: center;

}

.skills.html {

    background-position: 0 0;
}

.skills.css {

    background-position: -148px 0;
}

.skills.javascript {

    background-position: -296px 0;
}

.skills.responsive {

    background-position: -444px 0;
}

.skills.optimize {

    background-position: -592px 0;
}

.skills.production {

    background-position: -740px 0;
}


/* Blog
    -------------------------------------------------- */

#blog p {

    font-size: 1em;
    color: #000;
    text-align: justify;
}

#blog h4 {

    font-weight: bold;
    color: #000;
}

#blog a {

    text-decoration: none;
}

.blogpost {
    cursor: pointer;
    border: 1px solid white;
    padding: 2em;
    box-shadow: 0 0.3em 1.25em 0 rgba(46,61,73,0.12);
    transition: box-shadow .3s ease, transform .3s ease;

}

.blogpost:hover {

    transform: scale(0.98);
}


/* Footer
    -------------------------------------------------- */

footer ul {
    text-align: center;
    list-style-type: none;
    padding: 0 0 50px 0;

}


footer ul li {
    display: inline;
}